/* ---------------------------------Internship page css--------------------------- */
.container{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}

.container{
    background: linear-gradient(to top, rgba(41, 43, 44), rgba(41, 43, 44));
    padding: 15px 9%;
    padding-bottom: 70px;

}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
}

.box img{
    width: 400px;
    height: 400px;
    padding-top: 30px;
}

.container .box-container .box{
    box-shadow: 0px 5px 5px black;
    border-radius: 4px;
    background: white;
    text-align: center;
    /* padding: 30px 30px; */
}

.container .box-container .box h3{
    color: black;
    font-family: sans-serif;
    font-size: 30px;
    padding: 10px 0px;
}

.container .box-container .box p{
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px 0px;
    line-height: 1.2;
}